{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="row">

            <div class="col-md-6">
                <label for="id_phone"> </label>
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.file |as_crispy_field}}
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">Save person</button>
            </div>
        </div>

    </form>
{% endblock %}