{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post" action="/save">
        {% csrf_token %}
        <div class="row">

            {% for field in form %}
                <div class="form-group w-100">
                    <label>{{ field.0 }}</label>'
                    <textarea rows="1" cols="45">{{ field.1 }}</textarea>
                </div>
            {% endfor %}

        </div>

        <div class="row ">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">Save person</button>
            </div>
        </div>

    </form>
{% endblock %}